.dropdownMenuItems * {
  /* text-shadow: none; */
  padding: .25rem;
  line-height: 1;
}

.dropdownIcon {
  position: absolute;
  transform: translate3d(-55px, 38px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}