.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(0, 84, 122);
}

span.btn:hover {
  background-color: rgb(228, 87, 6);
}

.selectedFile {
  color: rgb(250, 125, 125);
  border: 1px solid rgb(255, 40, 40);
}

form input{
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 45px;
  outline: none;
  opacity: 0;
}